<ion-view view-title='MENU'>
  <ion-header-bar class="list-bar">
    <div class="header-logo">
      <a nav-direction='exit' href='#/menu'><img class="title-image" src="img/kulturnik-logo-05.svg" /></a>
    </div>
    <div class="header-nav">
      <button class="button button-icon icon ion-navicon" nav-direction='enter' href='#/list-view'></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-content>
      <div id="map" data-tap-disabled="true" ng-controller="MapController">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="mapOptions">
          <ui-gmap-polyline ng-repeat="s in streets" path="s.path" stroke="getStroke(s)" visible="true"></ui-gmap-polyline>
          <ui-gmap-marker ng-if="userLocation.visible" idKey="userLocation.id"
              coords="userLocation.coords"
              options="userLocation.options">
            </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
      <div class="items">
        <div class="single-item">
          <h4>Example title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="single-item">
          <h4>Example title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="single-item">
          <h4>Example title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="single-item">
          <h4>Example title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
  </ion-content>
</ion-view>
